@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

body [data-aos-delay='1000'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='1000'].aos-animate {
    transition-delay: 1s;
}
body [data-aos-delay='2000'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='2000'].aos-animate {
    transition-delay: 2s;
}
body [data-aos-delay='3000'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='3000'].aos-animate {
    transition-delay: 3s;
}


/*custom scrollbar*/
::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-radius: 10px;
    height: 10px;
  }


@font-face {
    font-family: 'BR-Firma';
    src: url(fonts/BR-Firma.otf);
}
*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
    background-color: #7857fe;
    align-items: center;
    margin-bottom: 50px;
}

.container{
   position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 100px;
    background: #3e3e3e;
    border-radius: 20px;
    
}

.container:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

h2{
    color: #fff;
    font-size: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    font-weight: 800;
}

h4{
    color: #fff;
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    font-weight: 800;
}
.categories{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}

.categories a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;

}
.cars{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/car.png);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.cars:active, .cars:hover{
    background: #7857fe;
    color: #fff;
}

.black{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/black.png);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.black:active , .black:hover{
    background: #7857fe;
    color: #fff;
}


.animal{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/animal.jpg);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.animal:active , .animal:hover{
    background: #7857fe;
    color: #fff;
}


.places{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/travel.jpg);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.places:active , .places:hover{
    background: #7857fe;
    color: #fff;
}

.neon{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/neon.jpg);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.neon:active , .neon:hover{
    background: #7857fe;
    color: #fff;
}

.gaming{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/gaming.jpg);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.gaming:active , .gaming:hover{
    background: #7857fe;
    color: #fff;
}

.anime{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/anime.jpg);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.anime:active , .anime:hover{
    background: #7857fe;
    color: #fff;
}

.music{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/music.jpeg);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.music:active , .music:hover{
    background: #7857fe;
    color: #fff;
}

.simpsons{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 60px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/simpsons.jpg);
    background-size:cover;
    transition: 0.5;
    cursor: pointer;
}


.simpsons:active , .simpsons:hover{
    background: #7857fe;
    color: #fff;
}


img{
    width: 340px;
    height: 560px;
    border-radius: 20px;
    margin: 20px auto;
    display: block;
    position: relative;
    border: 1px solid #fff;
    /*top: -300px;
    transform: scale(0.3);*/
  }

  
footer {
    
    color: #7857fe;
    font-size: 18px;
    margin-bottom: 1px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 600;
    z-index: 999;
    margin-top: 50px;
    text-decoration: none;
    
}

footer p a{
    color: #fff;
    text-decoration: none;
}
.fas{
    color: #fff;
    margin-right: 10px;
}

#download{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: 30px;
    text-align: center;
    background-color: #0014f3;
    transition: 0.5;
    cursor: pointer;
  }
  
  #download:hover{
    transition: 0.05s;
    background-color: #7857fe;
    transform: rotateZ(-5deg);
    box-shadow: 0 0 30px -10px #7857fe;
  }
  
  #download:active{
    transform: translateY(20px);
    transform: rotateZ(5deg);
  
  }
  
/* Mobile Responsiveness */

@media(max-width:1080px){

    body{
        background-color: #3e3e3e;
    }
    
    .container:after{
        display: none;
    }
    h4{
        font-size: 15px;
        width: 100%;
        padding-top:5px;
    }
    h2{
        font-size: 27px;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        padding-top: 10px;
    }

    #download{
        font-size: 17px; 
        width: 230px;
    }
    img{
        width: 300px;
    }

    .categories{
        display: block;
    }
  

    footer{
        font-size: 16px;
    }
  }