@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

@font-face {
    font-family: 'BR-Firma';
    src: url(BR-Firma.otf);
}
*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
    background-color: #7857fe;
    align-items: center;
}

.container{
   position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 100px;
    background: #3e3e3e;
    border-radius: 20px;
    
}

.container:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

h2{
    color: #fff;
    font-size: 40px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    font-weight: 800;
}

.btn{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
    transition: 0.5;
    cursor: pointer;
}

img{
    width: 340px;
    height: 560px;
    border-radius: 20px;
    margin: 20px auto;
    display: block;
    position: relative;
    /*top: -300px;
    transform: scale(0.3);*/
  }

  
footer {
    
    color: rgb(214, 214, 214);
    font-size: 14px;
    margin-bottom: 1px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 600;
    z-index: 999;
    margin-top: 50px;
    
}




footer p a span{
    color: #fff;
    text-decoration: none;
}